/* 네비 바 css 모음 */
.nav .nav_menu {
	width: 170px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 20pt;
	margin: 10px 70px;
}
.nav .none_button {
	background-color: grey;
	color: #D7D7D7;
	border-radius: 5px;
	text-align: center;
	cursor: not-allowed;
}